---
import Baners from "./Baners.astro";
import QuinesSomos from "./QuinesSomos.astro";
import ProductoDestacado from "./ProductoDestacado.astro"
import ArticuloCategorias from "./ArticuloCategorias.astro";

---


<main>
    <Baners/>
    <QuinesSomos/>
    <ProductoDestacado/>
    <ArticuloCategorias />
</main>